[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"
ipykernel = "*"
matplotlib = "*"
xgboost = "*"
hyperopt = "*"
imblearn = "*"
seaborn = "*"
plotly = "*"
nbformat = "*"
cufflinks = "*"
folium = "*"

[dev-packages]

[requires]
python_version = "3.9"
